In [1]:
import os
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
attacks = ["paper", "replay", "mask", "total"]
rgb_model = [f"0814_{attack}_rgb" for attack in attacks]

others = ["rgbp", "rgbd", "rgbdp"]
paper_models = [f"0814_paper_{model}" for model in others]
replay_models = [f"0814_replay_{model}" for model in others]
mask_models = [f"0814_mask_{model}" for model in others]
total_models = [f"0814_total_{model}" for model in others]

In [3]:
print(paper_models)
print(replay_models)
print(mask_models)
print(total_models)

['0814_paper_rgbp', '0814_paper_rgbd', '0814_paper_rgbdp']
['0814_replay_rgbp', '0814_replay_rgbd', '0814_replay_rgbdp']
['0814_mask_rgbp', '0814_mask_rgbd', '0814_mask_rgbdp']
['0814_total_rgbp', '0814_total_rgbd', '0814_total_rgbdp']

In [4]:
# directory = "0814_paper_rgb"
# directory = "0814_paper_rgbp"
# directory = "0814_paper_rgbd"
# directory = "0814_paper_rgbdp"

# directory = "0814_replay_rgb"
# directory = "0814_replay_rgbp"
# directory = "0814_replay_rgbd"
# directory = "0814_replay_rgbdp"

# directory = "0814_mask_rgb"
# directory = "0814_mask_rgbp"
# directory = "0814_mask_rgbd"
# directory = "0814_mask_rgbdp"

directory = "0814_total_rgb"
# directory = "0814_total_rgbp"
# directory = "0814_total_rgbd"
# directory = "0814_total_rgbdp"


indoor = "/mnt/nas3/yrkim/liveness_lidar_project/GC_project/bc_output/logs/" + directory + "/" + directory + "_indoor.pkl"
outdoor = "/mnt/nas3/yrkim/liveness_lidar_project/GC_project/bc_output/logs/" + directory + "/" + directory + "_outdoor.pkl"
dark = "/mnt/nas3/yrkim/liveness_lidar_project/GC_project/bc_output/logs/" + directory + "/" + directory + "_dark.pkl"

with open(indoor,"rb") as fr:
    indoor_check = pickle.load(fr)
with open(outdoor,"rb") as fr:
    outdoor_check = pickle.load(fr)
with open(dark,"rb") as fr:
    dark_check = pickle.load(fr)

In [5]:
indoor = pd.DataFrame(indoor_check)
outdoor = pd.DataFrame(outdoor_check)
dark = pd.DataFrame(dark_check)

indoor["epoch"]=[i for i in range(1,len(indoor)+1)]
outdoor["epoch"]=[i for i in range(1,len(outdoor)+1)]
dark["epoch"]=[i for i in range(1,len(dark)+1)]

paper

rgb: 
rgb+pc : 474 
rgb+depth :
rgb+depth+pc :

In [6]:
indoor.keys()

Index(['train_loss', 'test_loss', 'train_f1', 'test_f1', 'train_acc',
       'test_acc', 'epoch'],
      dtype='object')

In [7]:
outdoor.keys()

Index(['test_loss', 'test_f1', 'test_acc', 'epoch'], dtype='object')

In [8]:
dark.keys()

Index(['test_loss', 'test_f1', 'test_acc', 'epoch'], dtype='object')

In [9]:
target = indoor[(indoor["train_f1"]!=1) | (indoor["test_f1"]!=1)]
target_list = target["epoch"].tolist()
len(target_list)

500

In [10]:
t1 = indoor.sort_values(["train_f1", "test_f1", "epoch"], ascending=[False, False, False])
t1

       train_loss  test_loss  train_f1   test_f1  train_acc  test_acc  epoch
472  1.000000e-09   0.166510  1.000000  0.978253   1.000000  0.983333    473
479  1.200000e-09   0.168712  1.000000  0.972958   1.000000  0.979167    480
474  3.000000e-10   0.187239  1.000000  0.972958   1.000000  0.979167    475
463  2.000000e-09   0.168754  1.000000  0.972958   1.000000  0.979167    464
459  3.500000e-09   0.171526  1.000000  0.972958   1.000000  0.979167    460
..            ...        ...       ...       ...        ...       ...    ...
5    3.809280e-01   2.069588  0.711535  0.287449   0.794444  0.312500      6
166  6.354857e-01   1.610559  0.676137  0.513238   0.773611  0.541667    167
2    4.581002e-01   0.643395  0.674483  0.637827   0.784722  0.650000      3
1    4.487273e-01   0.600609  0.664801  0.622612   0.777778  0.666667      2
0    6.061874e-01   0.593567  0.559331  0.428571   0.719444  0.750000      1

[500 rows x 7 columns]

In [11]:
t2 = outdoor.sort_values(["test_f1", "epoch"], ascending=[False, False])
t2
# t2[t2["epoch"]>=437].head(10) # paper rgb + pc

     test_loss   test_f1  test_acc  epoch
182   1.830354  0.638035  0.666667    183
183   2.030079  0.620474  0.648958    184
181   2.782149  0.602414  0.622917    182
173   1.492219  0.598982  0.642708    174
479   5.071657  0.598490  0.634375    480
..         ...       ...       ...    ...
172   9.420993  0.382998  0.388542    173
166   4.492544  0.370833  0.370833    167
5     3.299431  0.360785  0.364583      6
481   6.227388  0.352809  0.356250    482
7     2.672400  0.343600  0.345833      8

[500 rows x 4 columns]

In [12]:
t3 = dark.sort_values(["test_f1", "epoch"], ascending=[False, False])
t3
# t3[t3["epoch"]>=437].head(10) # paper rgb + pc

     test_loss   test_f1  test_acc  epoch
31    5.726501  0.493684  0.509375     32
30    5.929676  0.459382  0.460417     31
165  30.879598  0.428571  0.750000    166
26    2.796275  0.428050  0.428125     27
0     0.756741  0.426181  0.742708      1
..         ...       ...       ...    ...
168  14.799156  0.221434  0.264583    169
1     4.087260  0.216898  0.261458      2
481  24.607649  0.200000  0.250000    482
167  14.745140  0.200000  0.250000    168
166  15.315730  0.200000  0.250000    167

[500 rows x 4 columns]

In [13]:
print(len(target_list))
print(len(t2))
print(len(t3))
for epoch in target_list:
    t2 = t2.drop(t2[t2["epoch"]==epoch].index, axis=0)
    t3 = t3.drop(t3[t3["epoch"]==epoch].index, axis=0)
print(len(t2))
print(len(t3))

500
500
500
0
0

In [14]:
t2 = t2.sort_values(["test_f1", "epoch"], ascending=[False, False]).head(50)
print(len(t2))
t2

0

Empty DataFrame
Columns: [test_loss, test_f1, test_acc, epoch]
Index: []

In [15]:
t3 = t3.sort_values(["test_f1", "epoch"], ascending=[False, False]).head(50)
print(len(t3))
t3

0

Empty DataFrame
Columns: [test_loss, test_f1, test_acc, epoch]
Index: []

In [16]:
# print(indoor[indoor["epoch"]==6])

# indoor.sort_values("train_loss", ascending=False).head(50)

In [17]:
3/0

ZeroDivisionError: division by zero

In [ ]:
epoch = 500

In [ ]:
print(indoor[indoor["epoch"]==epoch]["train_acc"])
print(indoor[indoor["epoch"]==epoch]["train_f1"])

print(indoor[indoor["epoch"]==epoch]["test_acc"])
print(indoor[indoor["epoch"]==epoch]["test_f1"])

print(outdoor[outdoor["epoch"]==epoch]["test_acc"])
print(outdoor[outdoor["epoch"]==epoch]["test_f1"])

print(dark[dark["epoch"]==epoch]["test_acc"])
print(dark[dark["epoch"]==epoch]["test_f1"])